<!doctype html>
<html>
<head>
    <title>NFL</title>
    <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link rel="shortcut icon" href="../resources/image/favicon.png">
    <script src="script/jquery-1.10.2.js"></script>
    <script src="script/backToTop.js" type="text/javascript"></script>
    <script src="script/dynamic-section.js" type="text/javascript"></script>

    <script data-main="script/config.js" src="script/require.js"></script>

</head>
<body onload="checkCookies()">
<header>
    <div id="logo">
        <a href="/"><img src="../resources/image/main-logo-el-alt.png" width="65" height="65"></a>
    </div>
    <nav>
        <ul>
            <li><a href="teams">Команды</a></li>
            <li><a href="players">Игроки</a></li>
            <li><a href="history">История</a></li>
        </ul>
    </nav>

    <div class="error-wrapper">
        <div class="error">
            <%= message %>
        </div>
        <div class="invalid">
            <!--dynamic content-->
        </div>
    </div>

    <div id="auth-section">
        <% if(currentUser) { %>
            <nav>
                <a class="dropdown-toggle" href="#" title="Menu"><span id="user"><%= currentUser %></span></a>
                <ul class="dropdown">
                    <li><a href="/schedule">Ближайшие матчи</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </nav>
        <% } else { %>
            <ul id="auth">
                <li><a href="/signup" onclick="return makeSignUpSectionVisible()">Регистрация</a></li>
                <li><a href="/login" onclick="return makeLogInSectionVisible()">Вход</a></li>
            </ul>
        <% } %>
    </div>

</header>

<div id="content">
    <article id="main-article">
        <div id="article-content-wrapper">
            <video id="video" width="400" height="300" controls="controls"
                   onclick="this.paused ? this.play() : this.pause();">
                <source src="../resources/video/videoReview.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            <h2>Моменты, предопределившие сезон 2018 для Чикаго</h2>
            <p>
                Медведи продолжают удивлять футбольный мир. В воскресенье они дома сделали Грин-Бэй, выиграли северный
                дивизион НФК впервые с 2010 года и получили место в плей-офф, о котором забыли на восемь долгих лет</p>
            <p>
                Перетерпев восемь же посредственных сезонов, фанаты могут, наконец-то, порадоваться своему счастью, с
                нетерпением ожидая появления команды в постсизоне. Мэтт Нэги превзошел многие ожидания и теперь вопрос
                лишь в том, как далеко сможет забраться Чикаго.</p>
            <p>
                Несмотря на то, что Нэги сделал имя на работе с юнитами атаки, Медведи здорово проявили себя и в
                обороне. Во главе с опытным координатором Виком Фанджио, Чикаго занимает 3 место в лиге как по общей
                защите, так и по пропущенным очкам. Нападение не сильно отстает, располагаясь на 6 месте по набранным в
                среднем за матч очкам (27,4) – невероятной прогресс после 30 места (16,5) в 2017.</p>
            <p>Статистика и голые цифры – лишь часть тех причин, по которым Бэарз добрались до пункта назначения. Есть
                еще несколько факторов, благодаря которым болельщиками не грозит столь привычная январская спячка.</p>
            <p> В Финале четырёх встретились победители четвертьфинальных матчей.
                Баскетболисты турецкого "Фенербахче" впервые в истории клуба выиграли Евролигу, а московский ЦСКА, в
                прошлом сезоне ставший чемпионом турнира, в этот раз занял
                третье место.

                "Фенербахче" в финале обыграл греческий "Олимпиакос" со счетом 80:64 (26:18, 13:16, 21:14,
                20:16). В матче за третье место ЦСКА победил мадридский "Реал" - 94:70.</p>

            <h3>Умение побеждать на выезде - вот что отличает претендентов от фаворитов</h3>
            <p>
                Умение побеждать в НФЛ на выезде - сорвешенно особое умение. Звук молчащих после поражения домашних
                трибун - великолепен. Покидать стадион и видеть разочарованные лица, недовольные жесты и летящие под
                колеса автобуса пустые пивные стаканы - такое не забывается. Но выигрывать на выезде - трудно, очень
                трудно. Преимущество своего поля важно во всех видах спорта, в футболе - особенно. Гостевой снеп-каунт -
                настоящее испытание, отсутствие возможности расслышать снеп и синхронно начать розыгрыш лишает нападение
                главного козыря и позволяет защите контролировать линию скриммаджа. Вот почему многие команды испытывают
                проблемы на выезде.</p>

            <h3>По праву красавцев</h3>
            <p>
                Возвращаясь домой воскресным вечером, я обнаружил себя в продрогшем городе с деревьями покрытыми белой
                пеленой. Столбик термометра опустился до отметки в -18, поэтому я демонстративно открыл бутылку пива на
                улице и смаковал две футбольные четверти.

                Холода я не чувствовал вообще, ведь вулкан эмоций от четверга и субботняя напряжёнка заставили меня
                греться от декабрьского холода. Несмотря на это, прошедшая неделя запомнится скорее отрывками, чем
                целыми перформансами. Оторвёмся и мы.</p>
            <p>
                Супер-Боул должны выиграть "Чарджерс" из ЛА. Потому что они красавчики, потому что они отбитые на весь
                шлем наёмники, которым плевать на футбол, наследие, болельщиков, прессу и твоё мнение. Они играют два
                очка, они рискуют, они лучшие в Лиге и даже не способны выиграть собственный дивизион. Такими должны
                быть настоящие чемпионы лучшей Лиги мира. Обыграть в решающем матче они должны "Медведей" из Чикаго,
                потому что "Бэарс" хороши, чёрт возьми! Потому что эта оборона достойна большего, чем просто указать
                Аарону Роджерсу на пенсионное удостоверение. Потому что династия должна родиться здесь и сейчас и на
                долгие годы стать лидером дивизиона и одним из главных претендентов на Супер Боул от конференции -
                помешать им не должны ни Новый Орлеан, ни ЛА, ни все остальные.</p>
            <p>
                В финале конференции "Чифс" должны уступить ЛА. Потому что "Рид никогда не выиграет Супер Боул и
                проблема Канзаса в их тренере", потому что Махоумз молодой и заберёт свои перстни позже, а вот Риверса
                оставлять без кольца будет жалко. "Сэйнтс" в финале NFC должны отдать игру "Медведям". Ведь Пэйтон-Бриз
                далеко не Беличек-Брэйди, а комфортный, тёплый "Супердоум" хорош для всех команд, если не обращать
                внимания на шум.
            </p>
        </div>
    </article>
    <aside id="aside-part">
        <div class="article">
            <a href="http://www.nfl.com/news/story/0ap3000001002133/article/melvin-gordon-knee-going-to-play-vs-ravens">
                <h3>Мелвин Гордон будет играть против Воронов</h3></a>
            <img class="article-image" src="../resources/image/injuri.jpg" width="200" height="132"/>
            <p>
                Как и ожидалось, Мелвин Гордон вернется в «Чарджерс» в субботу против Воронов, что подтвердил в
                четверг тренер Энтони Линн.
            </p>
        </div>
        <svg height="10" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(1,51,105);stroke-width:4"/>
        </svg>
        <div class="article">
            <a href="http://www.nfl.com/news/story/0ap3000001002115/article/eagles-dc-wr-deandre-hopkins-like-charles-barkley">
                <h3>Eagles DC сравнивает Хопкинса с Чарльзом Баркли</h3></a>
            <img class="article-image" src="../resources/image/CompareBarkley.jpg" width="200" height="150"/>
            <p>
                В преддверии воскресного противостояния между орлами и техасцами, Джимли Шварц из Филадельфии сравнил
                Деандра Хопкинса с Залом Славы НБА Чарльзом Баркли. Шварц сказал, что у WR есть «навыки ребундерского
                типа».
            </p>
        </div>
        <svg height="10" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(1,51,105);stroke-width:4"/>
        </svg>
        <div class="article">
            <a href="http://www.nfl.com/news/story/0ap3000001002106/article/conner-pessimistic-for-sunday-im-just-not-ready-yet">
                <h3>Коннер Стилерс о возвращении: «Я просто еще не готов»</h3></a>
            <img class="article-image" src="../resources/image/returnJames.jpg" width="200" height="150"/>
            <p>
                Питтсбург Стилерс: Джеймс Коннер продолжает возвращаться после травмы лодыжки, но не
                похоже, что он готов вернуться.
            </p>
        </div>
    </aside>
</div>
</body>
<footer>

</footer>
</html>